dist: bionic
language: java
jdk:
  - openjdk8
  - openjdk11
  - openjdk14

sudo: false
script:
  - mvn clean package -e

# cache the build tool's caches
cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle
